:root{
    --primary-color: #545BE8;
    --secondary-color: #F0C932;
    --background-color: #F5F5F5;
    --tet-color: #969696;
    --blah-color: #DDDDDD;

}

/* body{
    zoom: 0.8;
}

@media screen and (max-width: 1360px) {
    body{
        0
    }
} */